<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/45183bba-9132-4eff-8102-0cc1f491ca53/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/SoftPlanTestTaxaDeJurosAPI</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://softplantesttaxadejurosapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/45183bba-9132-4eff-8102-0cc1f491ca53/resourceGroups/rodrigoleiterg/providers/Microsoft.ContainerRegistry/registries/rodrigoleite</ContainerResourceId>
    <ContainerResourceName>rodrigoleite</ContainerResourceName>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://rodrigoleite.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a1af03cf-6358-4a54-bc53-11299195999f</ProjectGuid>
  </PropertyGroup>
</Project>